<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="imagesRelativePath" value="input\images" />
		<add key="inputElementsRelativePath" value="input\elements.json" />
		<add key="inputCombinationsRelativePath" value="input\combinations.json" />
	</appSettings>
</configuration>